* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Font Styles */

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared Styles */

/* Navbar Section Styles */

.nav-section {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 48px;
  align-items: center;
}

nav ul li {
  list-style-type: none;
}
nav ul li a {
  text-decoration: none;
}

.list-home {
  color: rgb(37, 36, 50);
  font-weight: 700;
}

.list-shop,
.list-about {
  color: rgb(137, 135, 161);
  font-weight: 400;
}

.list-cart {
  color: rgb(0, 0, 0);
  font-weight: 400;
}

/* Banner Section Styles */
.banner-section {
  max-width: 1140px;
  display: flex;
  margin: 0 auto;
  margin-top: 100px;
}

.banner-left {
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  gap: 13px;
  justify-content: center;
}
.banner-right {
  width: 50%;
}
.banner-title {
  font-weight: bold;
  font-size: 4rem;
  color: #e95a08;
}
#banner-always {
  color: #000000;
}
.banner-description {
  font-weight: 400;
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 0.5);
}

.plant-section {
  max-width: 1140px;
  margin: 0 auto;
}

.plant-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 50px 126px 49px;
}

.plant-title {
  font-weight: bold;
  font-size: 4rem;
  color: #000000;
}
.our-title {
  color: #e95a08;
}
.plant-description {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.5);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;
  column-gap: 20px;
}

.card {
  max-width: 270px;
  text-align: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.card-image {
  width: 100%;
  margin-bottom: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: none;
}

.card-title {
  font-weight: 300;
  font-size: 1.25rem;
  color: #111111;
}

.card-price {
  font-weight: bold;
  font-size: 1.25rem;
  margin-top: 10px;
}

.card-btn {
  height: 50px;
  width: 100%;
  background-color: #e95a08;
  color: #ffffff;
  border: none;
  margin-top: 20px;
  /* border-radius:8px */
}
.banner-lover-plant {
  height: 286px;
  width: 286px;
  position: absolute;
  left: -250px;
  top: -150px;
}

.plants-lover-section {
  margin: 0 auto;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 300px;
}
.plants-lover-left {
  max-width: 540px;
  height: 597px;
  width: 100%;
}
.plants-lover-right {
  max-width: 540px;
  position: relative;
}
.plants-lover-title {
  font-weight: bold;
  font-size: 3.2rem;
  color: #000000;
}

.plants-lover-description {
  max-width: 540px;
  display: flex;
  flex-direction: column;
}
.plants-lover-list {
  margin-top: 1.2rem;
  height: 5rem;
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 0.5);
}

/* Join Section Styles */

.join-section {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 100px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 533px;
  background-image: url("../assets/news-letter-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.join-title {
  font-weight: bold;
  font-size: 3rem;
  color: #ffffff;
}
.join-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.join-input input[type="email"] {
  width: 500px;
  height: 50px;
  padding: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
}

/* .input-email {
  display: inline;
  max-width: 644px;
  height: 50px;
  
  padding: 1rem;
} */

.join-btn {
  width: 186px;
  height: 50px;
  border: none;
  background-color: #e95a08;
  color: #ffffff;
}

.footer-section {
  max-width: 1120px;
  max-height: 348px;
  margin: 0 auto;
  margin-top: 100px;

  display: flex;
  justify-content: space-between;
}

.footer-description {
  font-size: 1.25rem;
  max-width: 270px;
  color: #6b7280;
  margin-top: 1rem;
}

.footer-contact1 ul,
.footer-contact2 ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer-contact1 ul li,
.footer-contact2 ul li {
  list-style-type: none;
  color: #6b7280;
}

.link-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.latest-deal-section {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
}
.latest-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.latest-title {
  font-weight: bold;
  font-size: 3rem;
}
#latest-title-color {
  color: #e95a08;
}
.latest-description {
  max-width: 888px;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
}

.latest-image-section {
  border: 1px solid black;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
}
.image-type-1 {
  max-width: 32%;
}
.image-A {
  background-image: url("../assets/deal-bloom.png");
  background-repeat: no-repeat;
}

.image-B {
  background-image: url("../assets/deal-ana.png");
  background-repeat: no-repeat;
}

.image-type-2 {
  background-image: url("../assets/deal-zabo.png");
  background-repeat: no-repeat;
  max-width: 65%;
}

/* Mobile Media */
@media screen and (max-width: 768px) {
  .nav-section {
    margin: 16px 20px 28px;
  }
  .list-home {
    color: rgb(37, 36, 50);
    font-weight: 700;
    display: none;
  }

  .list-shop,
  .list-about {
    color: rgb(137, 135, 161);
    font-weight: 400;
    display: none;
  }

  .list-cart {
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 30px;
  }

  .banner-section {
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 100px;
  }
  .banner-left {
    order: 0;
    margin: 28px 25px 65px;
  }
  .banner-right {
    width: 100%;
  }

  .banner-right {
    order: -1;
  }

  /* Card Container */

  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 30px;
    place-self: center;
    max-width: 364px;
  }

  .card {
    max-width: 170px;
    text-align: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
  }

  #card1,
  #card2 {
    display: none;
  }

  .banner-lover-plant {
    display: none;
  }
  .plants-lover-section {
    flex-direction: column;
    gap: 1rem;
    margin-left: 2rem;
    margin-top: 1rem;
  }
  .plants-lover-title {
    font-weight: bold;
    font-size: 2rem;
  }

  .plants-lover-list {
    margin-top: 3rem;
  }

  .footer-section {
    flex-direction: column;
    margin-left: 20px;
  }
  .footer-description {
    font-size: 1.25rem;
    /* max-width: 270px; */
    color: #6b7280;
    margin-top: 1rem;
  }

  .link-list {
    justify-content: flex-start;
    margin-top: 2rem;
  }
  .footer-section {
    gap: 2rem;
  }

  .footer-contact1 ul,
  .footer-contact2 ul {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .join-input input[type="email"] {
    width: 100%;
    height: 50px;
    padding: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
  }
  .join-title {
    font-weight: bold;
    font-size: 1.25rem;
    color: #ffffff;
  }

  /* Join Section Styles */
}

/* Medium or Tablet Media */

@media screen and (min-width: 779px) and (max-width: 1124px) {
  .nav-section {
    margin: 16px 20px 28px;
  }

  .banner-section {
    margin: 20px;
  }

  .plants-lover-section {
    width: 100%;
    /* flex-direction: column; */
    gap: 2%;
  }
  .plants-lover-left {
    width: 49%;
  }
  .plants-lover-right {
    width: 49%;
  }
}
